/* リセット */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #1F1E1E;
    color: white;
}

/* 共通リンクスタイル */
a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

/* ヘッダー内のリンク（ロゴとして使用） */
header a {
    display: flex;
    align-items: center;
}

/* ヘッダー内の画像とタイトル */
header .hero {
    margin-left: 20px;
}

header .hero img {
    max-width: 40px;
    width: 100%;
    height: auto;
    display: block;
}

header h1 {
    font-size: 14px; /* 必要に応じて調整 */
}

/* ナビゲーション */
.sticky-nav {
    background-color: #D95D07;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    margin-left: 50px;
    display: flex;
    justify-content: left;
}

nav a {
    display: inline-block;
    padding: 10px;
    white-space: nowrap;
}

nav a:hover {
    background-color: #FFAA46;
    color: black;
}

nav .now::after{
  content: "";
  display: block;
  height: 3px;
  background-color: #FFAA46;  /* オレンジ色 */
  width: 100%;
}

/*ここまで共通*/

main{
  padding:10px 15px;
}

main section {
  margin-bottom: 20px;
  border-radius: 16px;
  padding: 20px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main section a {
  position: relative;
  padding-left: 1.2em;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

/* ● を前につける */
main section a::before {
  content: "●";
  position: absolute;
  left: 0;
  color: #FFAA46;
  font-size: 0.8em;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
}

/* hover で下線（オレンジ）を表示 */
main section a:hover {
  text-decoration: underline;
  text-decoration-color: #FFAA46;
  text-underline-offset: 4px;
}

main div{
    display: flex;
    align-items: flex-start;
    padding:20px;
    gap: 20px;
}

main section h3{
  color: #D95D07;
  text-align: center;
  padding:10px 15px;
}

.dropdown {
  position: relative; /* 親要素は相対位置 */
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;  /* 親要素の真下に表示 */
  left: -100%; /* 少し左に寄せる */
  background-color: #444;
  min-width: 160px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 0px;  /* 隙間をゼロに近づける（ほんの少し上にする） */
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: white;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background-color: #FFAA46;
  color: black;
}

/* ホバー時に表示 */
.dropdown:hover .dropdown-menu {
  display: block;
}